@media (min-width: 1280px) and (max-height: 900px) {
  .offers {
    overflow: hidden;
    height: 74vh;
  }
  .offers-left {
    padding-top: 130px;
  }
  .offers-left h1 {
    font-size: 60px;
    line-height: 40px;
  }
  /* .offers-right img {
    padding-top: -px;
  } */
}
